@import "../../variables";
@import "../../mixins";

/* Radio from design */
$maxPadWidth: calc((100% * 145) / 510);
$maxGutterWidth: calc((100% * 25) / 510 / 2);

.keyboard {
  @include flexCenterChild;

  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;

  &__pad {
    width: $maxPadWidth;
    margin: $maxGutterWidth;
  }

}
